.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background: #05111e;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 0.5rem;
    width: 100%;
  }
  
  .nav-logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  
  .nav-logo {
    height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
    margin-left: 2rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
  }
  
  .nav-menu a {
    color: #778ba9;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }